automations/outbox-flush/workflow-outbox-flush.json
{
  "name": "Outbox flush (cloud)",
  "nodes": [
    {
      "id": "sched",
      "name": "Schedule 08:50",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 50
            }
          ]
        }
      }
    },
    {
      "id": "list-outbox",
      "name": "List outbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        -200
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/alexey-orlov/AO-Personal-OS/contents/context/_inbox/outbox?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-ao-secondbrain"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "BNjgcEg64fLzU1gU",
          "name": "GitHub PAT (AO-Personal-OS) v2"
        }
      }
    },
    {
      "id": "cards",
      "name": "Outbox cards to items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -200
      ],
      "parameters": {
        "jsCode": "// Directory listing → one item per queued .json card. Tolerates 404 / error shapes.\nconst out = [];\nfor (const it of $input.all()) {\n  const j = it.json;\n  const entries = Array.isArray(j) ? j : (j && j.name ? [j] : []);\n  for (const e of entries) {\n    if (!e || !e.name || !e.name.endsWith('.json')) continue;\n    out.push({ json: { name: e.name, path: e.path, sha: e.sha, url: e.url } });\n  }\n}\nreturn out;"
      }
    },
    {
      "id": "get-card",
      "name": "GET card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-ao-secondbrain"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "BNjgcEg64fLzU1gU",
          "name": "GitHub PAT (AO-Personal-OS) v2"
        }
      }
    },
    {
      "id": "decode",
      "name": "Decode card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -200
      ],
      "parameters": {
        "jsCode": "// Card JSON (written by automations/telegram/config.sh tg_queue_outbox) → Telegram payload.\n// Sanitize inline buttons: drop any button whose url is not a bare http(s) URL (e.g. a\n// hand-built card that crammed \"label https://...\" into the url field). Telegram rejects\n// such buttons with BUTTON_URL_INVALID, which would fail the send and poison the batch;\n// dropping them lets the card still deliver its text.\nconst validUrl = (u) => typeof u === 'string' && /^https?:\\/\\/\\S+$/.test(u) && !/\\s/.test(u);\nreturn $input.all().map(it => {\n  const j = it.json;\n  const card = JSON.parse(Buffer.from(j.content, 'base64').toString('utf8'));\n  const payload = { chat_id: 'REDACTED_GROUP_CHAT_ID', text: card.text, disable_web_page_preview: true };\n  if (card.thread_id) payload.message_thread_id = Number(card.thread_id);\n  if (card.parse_mode) payload.parse_mode = card.parse_mode;\n  if (Array.isArray(card.buttons)) {\n    const rows = card.buttons\n      .map(row => (Array.isArray(row) ? row.filter(b => b && b.text && validUrl(b.url)) : []))\n      .filter(row => row.length);\n    if (rows.length) payload.reply_markup = { inline_keyboard: rows };\n  }\n  return { json: { tgPayload: JSON.stringify(payload), path: j.path, sha: j.sha, name: j.name } };\n});"
      }
    },
    {
      "id": "send-card",
      "name": "Send queued message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        -200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/botREDACTED_BOT_TOKEN/sendMessage",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.tgPayload }}",
        "options": {
          "timeout": 20000
        }
      }
    },
    {
      "id": "del-card",
      "name": "DELETE card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        -200
      ],
      "retryOnFail": false,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.github.com/repos/alexey-orlov/AO-Personal-OS/contents/{{ $('Decode card').item.json.path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-ao-secondbrain"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'notify: flush outbox ' + $('Decode card').item.json.name, sha: $('Decode card').item.json.sha, branch: 'main' }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "BNjgcEg64fLzU1gU",
          "name": "GitHub PAT (AO-Personal-OS) v2"
        }
      }
    }
  ],
  "connections": {
    "Schedule 08:50": {
      "main": [
        [
          {
            "node": "List outbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List outbox": {
      "main": [
        [
          {
            "node": "Outbox cards to items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outbox cards to items": {
      "main": [
        [
          {
            "node": "GET card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET card": {
      "main": [
        [
          {
            "node": "Decode card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode card": {
      "main": [
        [
          {
            "node": "Send queued message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send queued message": {
      "main": [
        [
          {
            "node": "DELETE card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "saveManualExecutions": true,
    "errorWorkflow": "k2xuGa0yG0pQFVff",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
