automations/outbox-flush/workflow-outbox-flush.json
{
  "name": "Second-brain delivery (cloud)",
  "nodes": [
    {
      "id": "sched",
      "name": "Schedule 08:50",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 50
            }
          ]
        }
      }
    },
    {
      "id": "exec-trigger",
      "name": "When called (toggle)",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "list-outbox",
      "name": "List outbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        -200
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/alexey-orlov/AO-Personal-OS/contents/context/_inbox/outbox?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-ao-secondbrain"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "BNjgcEg64fLzU1gU",
          "name": "GitHub PAT (AO-Personal-OS) v2"
        }
      }
    },
    {
      "id": "cards",
      "name": "Outbox cards to items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -200
      ],
      "parameters": {
        "jsCode": "// Directory listing → one item per queued .json card. Tolerates 404 / error shapes.\nconst out = [];\nfor (const it of $input.all()) {\n  const j = it.json;\n  const entries = Array.isArray(j) ? j : (j && j.name ? [j] : []);\n  for (const e of entries) {\n    if (!e || !e.name || !e.name.endsWith('.json')) continue;\n    out.push({ json: { name: e.name, path: e.path, sha: e.sha, url: e.url } });\n  }\n}\nreturn out;"
      }
    },
    {
      "id": "get-card",
      "name": "GET card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-ao-secondbrain"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "BNjgcEg64fLzU1gU",
          "name": "GitHub PAT (AO-Personal-OS) v2"
        }
      }
    },
    {
      "id": "decode",
      "name": "Decode card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -200
      ],
      "parameters": {
        "jsCode": "// Card JSON (written by automations/telegram/config.sh tg_queue_outbox) → Telegram payload.\nreturn $input.all().map(it => {\n  const j = it.json;\n  const card = JSON.parse(Buffer.from(j.content, 'base64').toString('utf8'));\n  const payload = { chat_id: 'REDACTED_GROUP_CHAT_ID', text: card.text, disable_web_page_preview: true };\n  if (card.thread_id) payload.message_thread_id = Number(card.thread_id);\n  if (card.parse_mode) payload.parse_mode = card.parse_mode;\n  if (card.buttons && card.buttons.length) payload.reply_markup = { inline_keyboard: card.buttons };\n  return { json: { tgPayload: JSON.stringify(payload), path: j.path, sha: j.sha, name: j.name } };\n});"
      }
    },
    {
      "id": "send-card",
      "name": "Send queued message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        -200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/botREDACTED_BOT_TOKEN/sendMessage",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.tgPayload }}",
        "options": {
          "timeout": 20000
        }
      }
    },
    {
      "id": "del-card",
      "name": "DELETE card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        -200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.github.com/repos/alexey-orlov/AO-Personal-OS/contents/{{ $('Decode card').item.json.path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-ao-secondbrain"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'notify: flush outbox ' + $('Decode card').item.json.name, sha: $('Decode card').item.json.sha, branch: 'main' }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "BNjgcEg64fLzU1gU",
          "name": "GitHub PAT (AO-Personal-OS) v2"
        }
      }
    },
    {
      "id": "get-cron",
      "name": "GET file (cron)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        150
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/alexey-orlov/AO-Personal-OS/contents/context/knowledge/goals-tasks.md?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-ao-secondbrain"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "BNjgcEg64fLzU1gU",
          "name": "GitHub PAT (AO-Personal-OS) v2"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "plan",
      "name": "Plan posts and edits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        150
      ],
      "parameters": {
        "jsCode": "// goals-tasks.md → one item per goal/task: mode 'post' (no tg: id yet) or 'edit'\n// (re-render posted message to current state; 'not modified' edits are no-ops).\n// renderItem() MUST stay in sync with the copy in 'Apply reaction'.\nconst g = $input.first().json;\nconst md = Buffer.from(g.content, 'base64').toString('utf8');\nfunction parseItems(text) {\n  let section = '';\n  const out = [];\n  for (const ln of text.split('\\n')) {\n    if (/^## Goals/.test(ln)) { section = 'g'; continue; }\n    if (/^## Tasks/.test(ln)) { section = 't'; continue; }\n    if (/^## /.test(ln)) { section = ''; continue; }\n    const m = ln.match(/^- \\[([ x])\\] \\*\\*([gt]\\d+)\\*\\* — (.*)$/);\n    if (!m || !section) continue;\n    const tg = ln.match(/· tg:(\\d+)\\b/);\n    const dd = ln.match(/· done (\\d{4}-\\d{2}-\\d{2})/);\n    out.push({ done: m[1] === 'x', id: m[2], text: m[3].split(' · ')[0].trim(),\n               msgId: tg ? tg[1] : '', doneDate: dd ? dd[1] : '' });\n  }\n  return out;\n}\nfunction renderItem(it) {\n  const type = it.id.startsWith('g') ? '🎯' : '☑️';\n  if (it.done) return `✅ ${type} ${it.id} — ${it.text}` + (it.doneDate ? ` · done ${it.doneDate}` : '');\n  return `${type} ${it.id} — ${it.text}`;\n}\nreturn parseItems(md).map(it => ({ json: it.msgId\n  ? { mode: 'edit', msgId: it.msgId, text: renderItem(it) }\n  : { mode: 'post', id: it.id, text: renderItem(it) } }));"
      }
    },
    {
      "id": "if-mode",
      "name": "New item?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        150
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "m1",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "post",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "post-item",
      "name": "Post item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        60
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/botREDACTED_BOT_TOKEN/sendMessage",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: 'REDACTED_GROUP_CHAT_ID', message_thread_id: 49, text: $json.text, disable_web_page_preview: true }) }}",
        "options": {
          "timeout": 20000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 300
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1500
    },
    {
      "id": "writeback",
      "name": "Stamp tg ids",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        60
      ],
      "parameters": {
        "jsCode": "// Append · tg:<message_id> to each just-posted line → one PUT.\nconst g = $('GET file (cron)').first().json;\nlet md = Buffer.from(g.content, 'base64').toString('utf8');\nconst planned = $('Plan posts and edits').all().filter(i => i.json.mode === 'post');\nconst sent = $input.all();\nfor (let i = 0; i < sent.length; i++) {\n  const id = planned[i].json.id;\n  const mid = sent[i].json.result.message_id;\n  const re = new RegExp('^(- \\\\[[ x]\\\\] \\\\*\\\\*' + id + '\\\\*\\\\* — .*)$', 'm');\n  md = md.replace(re, (l) => l + ' · tg:' + mid);\n}\nif (!sent.length) return [];\nreturn [{ json: { contentB64: Buffer.from(md, 'utf8').toString('base64'), sha: g.sha,\n                  commitMsg: 'goals-tasks: stamp tg ids for ' + sent.length + ' posted item(s)' } }];"
      }
    },
    {
      "id": "put-cron",
      "name": "PUT file (stamp ids)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        60
      ],
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/alexey-orlov/AO-Personal-OS/contents/context/knowledge/goals-tasks.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-ao-secondbrain"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.commitMsg, content: $json.contentB64, sha: $json.sha, branch: 'main' }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "BNjgcEg64fLzU1gU",
          "name": "GitHub PAT (AO-Personal-OS) v2"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "edit-item",
      "name": "Edit item message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        250
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/botREDACTED_BOT_TOKEN/editMessageText",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: 'REDACTED_GROUP_CHAT_ID', message_id: Number($json.msgId), text: $json.text, link_preview_options: { is_disabled: true } }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1500
    },
    {
      "id": "get-react",
      "name": "GET file (reaction)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        400
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/alexey-orlov/AO-Personal-OS/contents/context/knowledge/goals-tasks.md?ref=main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-ao-secondbrain"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "BNjgcEg64fLzU1gU",
          "name": "GitHub PAT (AO-Personal-OS) v2"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "apply",
      "name": "Apply reaction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        400
      ],
      "parameters": {
        "jsCode": "// 👍 added → done; 👍 removed → reopen. Input from 'When called (toggle)':\n// { messageId, makeDone }. renderItem() MUST stay in sync with 'Plan posts and edits'.\nconst today = DateTime.now().setZone('Europe/Kyiv').toFormat('yyyy-LL-dd');\nconst g = $input.first().json;\nlet md = Buffer.from(g.content, 'base64').toString('utf8');\nconst t = $('When called (toggle)').first().json;\nconst msgId = String(t.messageId || '');\nconst makeDone = !!t.makeDone;\nif (!msgId) return [];\nconst re = new RegExp('^- \\\\[([ x])\\\\] \\\\*\\\\*([gt]\\\\d+)\\\\*\\\\* — .*· tg:' + msgId + '\\\\b.*$', 'm');\nconst m = md.match(re);\nif (!m) return []; // reaction on a non-item message — ignore\nconst line = m[0];\nif ((m[1] === 'x') === makeDone) return []; // already in that state\nlet newLine;\nif (makeDone) {\n  newLine = line.replace('- [ ]', '- [x]');\n  if (!/ · done \\d{4}-\\d{2}-\\d{2}/.test(newLine)) newLine += ' · done ' + today;\n} else {\n  newLine = line.replace('- [x]', '- [ ]').replace(/ · done \\d{4}-\\d{2}-\\d{2}/, '');\n}\nmd = md.replace(line, newLine);\nconst id = m[2];\nfunction renderItem(it) {\n  const type = it.id.startsWith('g') ? '🎯' : '☑️';\n  if (it.done) return `✅ ${type} ${it.id} — ${it.text}` + (it.doneDate ? ` · done ${it.doneDate}` : '');\n  return `${type} ${it.id} — ${it.text}`;\n}\nconst text = newLine.match(/\\*\\* — (.*)$/)[1].split(' · ')[0].trim();\nconst dd = newLine.match(/· done (\\d{4}-\\d{2}-\\d{2})/);\nreturn [{ json: {\n  contentB64: Buffer.from(md, 'utf8').toString('base64'), sha: g.sha,\n  commitMsg: 'goals-tasks: ' + (makeDone ? 'done ' : 'reopen ') + id + ' (👍)',\n  msgId, text: renderItem({ id, done: makeDone, text, doneDate: dd ? dd[1] : '' })\n} }];"
      }
    },
    {
      "id": "put-react",
      "name": "PUT file (reaction)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        400
      ],
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/alexey-orlov/AO-Personal-OS/contents/context/knowledge/goals-tasks.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-ao-secondbrain"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.commitMsg, content: $json.contentB64, sha: $json.sha, branch: 'main' }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "BNjgcEg64fLzU1gU",
          "name": "GitHub PAT (AO-Personal-OS) v2"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "carry",
      "name": "Carry edit fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        400
      ],
      "parameters": {
        "jsCode": "// PUT replaced $json with the GitHub response — restore the edit payload.\nconst a = $('Apply reaction').first().json;\nreturn [{ json: { msgId: a.msgId, text: a.text } }];"
      }
    }
  ],
  "connections": {
    "Schedule 08:50": {
      "main": [
        [
          {
            "node": "List outbox",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET file (cron)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List outbox": {
      "main": [
        [
          {
            "node": "Outbox cards to items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outbox cards to items": {
      "main": [
        [
          {
            "node": "GET card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET card": {
      "main": [
        [
          {
            "node": "Decode card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode card": {
      "main": [
        [
          {
            "node": "Send queued message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send queued message": {
      "main": [
        [
          {
            "node": "DELETE card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET file (cron)": {
      "main": [
        [
          {
            "node": "Plan posts and edits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan posts and edits": {
      "main": [
        [
          {
            "node": "New item?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New item?": {
      "main": [
        [
          {
            "node": "Post item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit item message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post item": {
      "main": [
        [
          {
            "node": "Stamp tg ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp tg ids": {
      "main": [
        [
          {
            "node": "PUT file (stamp ids)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When called (toggle)": {
      "main": [
        [
          {
            "node": "GET file (reaction)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET file (reaction)": {
      "main": [
        [
          {
            "node": "Apply reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply reaction": {
      "main": [
        [
          {
            "node": "PUT file (reaction)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT file (reaction)": {
      "main": [
        [
          {
            "node": "Carry edit fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carry edit fields": {
      "main": [
        [
          {
            "node": "Edit item message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "saveManualExecutions": true,
    "errorWorkflow": "k2xuGa0yG0pQFVff",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
